.App {

}

.App form {
  width: 50vw;
  margin: 2px auto;
  padding: 2px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  justify-content: center;
}

.App .Display {
  width : 50vw; 
  margin: 2px auto;
  padding: 2px;
  border: 1px solid black;
  
}